.searchSection {
  text-align: center;
  padding: 10px 0px;
  background-color: whitesmoke;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
  width: 60%;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.CountriesSearch {
  width: calc(14.28% - 20px);
  margin: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.CountriesSearch img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.CountriesSearch h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.countryCard {
  width: 200px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 10px; 
  text-align: center; 
  margin: 10px;
}

.countryCard:hover {
  transform: scale(1.1);
}

.countryCard img {
  max-width: 100%; 
  height: auto; 
  border-radius: 8px; 
}

.countryCard h3 {
  margin-top: 10px; 
  font-size: 18px;
  color: #333;
